# for local development
version: '3.7'
services:
  covrt:
    container_name: covrt
    env_file: .env
    build:
      context: .
      target: 'develop-stage'
    ports:
    - '8080:8080'
    volumes:
    - '.:/app'
    command: /bin/sh -c "yarn && quasar dev"
